<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Graffitis Web{% endblock %}</title>


    <!-- Cargamos la libreria de bootstrap  -->
    {% load bootstrap4 %}

    <!-- CSS bootstrap -->
    {% bootstrap_css %}
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/icon.ico' type='image/x-icon' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/c77eea7e8a.js" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}

</head>
<body class="bg-grisesito">
    {% include "navbar.html" %}

    {% block body %}
        <h1>Contenido de la Pagina</h1>
    {% endblock %}

    {% block js %}
        <!-- <h1>Bloque para poner JavaScript</h1> -->
    {% endblock %}

     <!-- JS y jQuery Bootstrap  -->
    {% bootstrap_javascript jquery='full' %}
    
    {% include "footer.html" %}
</body>
</html>