{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/compartir.css' %}">
<button id="boton-compartir" class=" boton-compartir" onclick="animar_todo()"></button>
<button class="fab  fa-twitter compartir-twitter" onclick="compartir_twitter(
    {% if publicacion %}
    'esta publicación'
    {% elif usuario %}
    'este usuario'
    {% endif %}
)"></button>
<button class="fab  fa-instagram compartir-insta"></button>


<script>
    var desplazar =70;
    var opacidad = 1;
    function animar_todo(){
        $('.compartir-twitter').animate(500,{"transform":"translateX(-60px)"},500)
        //$('.compartir-insta').animate({"transform":"translate(-100px,0px)"},500)
        $( ".compartir-twitter" ).animate({
            right: "+=" + desplazar + "px",
            opacity:  opacidad,
        }, 500);
        $( ".compartir-insta" ).animate({
            right: "+=" + 2*desplazar + "px",
            opacity:  opacidad,
            
        }, 500);
        if(opacidad == 1){
            opacidad = 0;
        }else{
            opacidad = 1;
        }
        desplazar -=2*desplazar;
        if($("#boton-compartir").hasClass('animar_compartir1')){
            $("#boton-compartir").removeClass('animar_compartir1');
        }else{
            $("#boton-compartir").addClass('animar_compartir1');

        }

    }
        
    function compartir_twitter(tipo){
        alert('Compartiendo por Twitter');
        var tipo_url = tipo;
        window.open(
            "https://twitter.com/intent/tweet?text=Mira "
            + tipo_url +" que he encontrado en Underground! " + window.location.href
            
           
            
        );
    }
</script>