{% url 'cargar-eventos-ajax' as  cargar_eventos%}
<!-- Cargamos la carpeta static ? -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/panel_eventos.css' %}">
<!-- Panel lateral + elementos -->
<input type="checkbox" class="checkbox" id="check" onclick="cargarEventos()">

<label for="check" class="menu index2z" id="etiqueta-eventos" >Eventos</label>
<!-- Probar modal de bootstrap para que se cierre al clicar fuera -->
<div class=" left-panel scroll index2z" id="panel-eventos"  >
    <div class="text-center col pt-3 text-light">
        <h3>Eventos próximos</h3>
    </div>
    <ul id="lista-eventos" class="p-0 " >
        
        {% for evento in eventos %}
        <li>
            <a class="enlace" data-toggle="collapse" href="#collapse{{evento.ID_ACTIVIDAD}}" role="button" aria-expanded="false" aria-controls="collapse{{evento.ID_ACTIVIDAD}}">
                <div id="{{evento.ID_ACTIVIDAD}}" class="tarjeta-evento col bg-light" onclick="ampliar_informacion({{evento.ID_ACTIVIDAD}})">
                    <div class="titulo">
                        {{evento.NOMBRE}}
                    </div>
                    <div class="collapse mt-3" id="collapse{{evento.ID_ACTIVIDAD}}">
                        <div class="card card-body" id="info{{evento.ID_ACTIVIDAD}}">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
        
    </ul>
</div>

    <script>
        var claveAnterior;
        var clave;
        function ampliar_informacion(id) {
            nuestroDiv=document.getElementById("info"+id);
            console.log("info"+id);
            claveAnterior = clave;
            clave = id;
            var url_destino = "{% url 'cargar-eventos-id' 123 %}".replace('123', clave);
            $.ajax(
                {
                    type:'GET', 
                    url:url_destino,
                    success: function(data) {
                        console.log(data);
                        nuestroDiv.innerHTML=data;
                         /*if($('#evento-info').is(':visible')){
                             alert('Ocultando')
                             $('#evento-info').fadeOut(1000);
                            }else{
                                alert('Mostrando')
                                $('#evento-info').fadeIn(1000);
                            }*/
                 },
                }
            )
           
            
           // $("#"+clave).toggleClass('tarjeta-evento-desplegada');
          }
        function informacion_evento(id){
            var clave = id;
            var url = "{% url 'eventos-details' 123 %}".replace('123', clave);
            window.location.href = url;   
        }
       function cargarEventos(){
           if($('#check').prop('checked')){
               //Ajax request
               
               $.ajax(
                   {
                       type:'GET', 
                       url:"{% url 'cargar-eventos-ajax' %}",
                       success: function(data) {
                           $('#lista-eventos').replaceWith($('#lista-eventos',data));
                    },
                   }
               )
           }
       }
    </script>    