
{% extends "base.html" %}
{% block title %} Inicio {% endblock title %}
{% block body %}
{% include "eventos_panel.html" %}
{% load range %}
{% load lookup %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<div class="container ">
    <script type='text/javascript'>

        (function()
        {
          if( window.localStorage )
          {
            if( !localStorage.getItem('firstLoad') )
            {
              localStorage['firstLoad'] = true;
              window.location.reload();
            }  
            else
              localStorage.removeItem('firstLoad');
          }
        })();
        
        </script>
    <div class="row justify-content-center">
        {% for p in publicaciones reversed%}
            <div class="col-11 col-sm-11 col-md-8 bg-white my-2 rounded border p-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12 p-0">
                            <div id="carousel{{p.id}}" class="carousel slide" data-ride="carousel">
                                {% with len=p.listaGraffitis|length %}
                                {% if len > 1 %}
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel{{p.id}}" data-slide-to=0 class="active"></li>
                                            {% for value in 1|range:len %}
                                                <li data-target="#carousel{{p.id}}" data-slide-to={{value}}></li>
                                            {% endfor %}
                                    </ol>
                                {% endif %}
                                <div class="carousel-inner">
                                    {% for graffiti in p.listaGraffitis %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <a class="sinDecoracion" href="{% url 'publicacion-detail' p.id %}">
                                                <img class="d-block altura cover w-100 rounded-left" src="{{graffiti.imagen}}">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if len > 1 %}
                                    <a class="carousel-control-prev" href="#carousel{{p.id}}" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel{{p.id}}" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                {% endif %}
                                {% endwith %}
                              </div>
                        </div>
                        <div class="col-md-6 col-12 pl-md-4">
                            {% with primerGraffiti=p.listaGraffitis|lookup:0 %}
                            <div class="h6 mt-3">
                                <a class="sinDecoracion d-flex align-items-center" href="{% url 'usuarios-detail' primerGraffiti.autor.id %}">
                                    <img class="rounded-circle icon" src={{primerGraffiti.autor.imagen}} onerror="this.src='{% static 'images/iconHuevo.png' %}';"/>
                                    &nbsp;&nbsp;@{{primerGraffiti.autor.usuario}}
                                </a>
                            </div>
                            {% endwith %}
                            <hr/>
                            <a href="{% url 'publicacion-detail' p.id %}" class="sinDecoracion">
                                <p class="h4">{{p.titulo}}</p>
                                <p class="h6 mb-3">{{p.autor}}</p>
                                <p class="wrapPalabras">{{p.descripcion}}</p>
                            </a>
                            <p class="wrapLinea">
                            {% for tem in p.tematica %}
                                <span class="badge badge-pill badge-info">#{{tem}}</span>&nbsp;
                            {% endfor %}
                            </p>
                            <div class="h5 d-flex justify-content-end align-self-end abajo"> 
                                <p>
                                    <a href="{% url 'publicacion-detail' p.id %}" class="sinDecoracion">
                                        <script src="{% static 'js/focusComment.js' %}"></script>
                                        {% with lc=p.listaComentarios|length %}
                                        <i class="far fa-comment"></i>&nbsp;{{lc}}
                                        {% endwith %}
                                    </a>
                                    &nbsp;
                                    &nbsp;
                                    <a href="{% url 'inicio-like' p.id %}" class="sinDecoracion">
                                        {% with mg=p.meGusta|length %}
                                        {% if request.session.usuario in p.meGusta %}
                                            <i class="fas fa-heart text-danger"></i>
                                        {% else %}
                                            <i class="far fa-heart"></i>
                                        {% endif %}
                                        &nbsp;{{mg}}
                                        {% endwith %}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Aún no hay publicaciones :(</p>
        {% endfor %}
    </div>
</div>
{% endblock body %}
