
{% extends "base.html" %}
{% block title %} Inicio {% endblock title %}


{% block head %}
<!-- Mapas -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock head %}

{% block body %}
{% include "eventos_panel.html" %}
{% load range %}
{% load lookup %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<div class="container ">
    <script type='text/javascript'>

        (function()
        {
          if( window.localStorage )
          {
            if( !localStorage.getItem('firstLoad') )
            {
              localStorage['firstLoad'] = true;
              window.location.reload();
            }  
            else
              localStorage.removeItem('firstLoad');
          }
        })();
        
        </script>
    <ul class="nav nav-pills justify-content-center my-2" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="tab" href="#feed" role="tab" aria-controls="pills-home" aria-selected="true">Feed de publicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="tab" href="#mapa" role="tab" aria-controls="pills-profile" aria-selected="false">Mapa de publicaciones</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="feed" role="tabpanel" aria-labelledby="pills-home-tab">{% include "inicioFeed.html" %}</div>
      <div class="tab-pane fade" id="mapa" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div id="mapid" class="mapa"></div>
      </div>
    </div>
    <script>
      var mymap = L.map('mapid').setView([36.7213028, -4.4216366], 16);
      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1,
          accessToken: 'pk.eyJ1IjoianVsaWFyb2JsZXMiLCJhIjoiY2trNG8xcWs5MTU1MjMycW9vNHQydjZ3MiJ9.tn9yzxwspPqdNymmZMqPfA'
      }).addTo(mymap);

      var listPubli = JSON.parse("{{ publicaciones|safe }}".replace(/'/g, '"'));
      for (var i = 0; i < listPubli.length; i++){
          try {
              var coordenadas = listPubli[i].localizacion.split(',');
              L.marker([coordenadas[0], coordenadas[1]]).addTo(mymap);
          } catch (error) {
              console.error(error);
          }
      }
      
      //GRACIAS: https://gis.stackexchange.com/questions/224932/problem-with-map-tiles-loading-with-leaflet-and-bootstrap
      //https://stackoverflow.com/questions/36246815/data-toggle-tab-does-not-download-leaflet-map/36257493#36257493
      $(document).ready(function(){
        $("a[href='#mapa']").on('shown.bs.tab', function(e) {
            mymap.invalidateSize();
        });
      });

    </script>
</div>
{% endblock body %}
