
{% url 'inicio' as url_inicio %}
{% url 'url-buscar' as url_buscar %}
{% url 'publicacion-formulario' as url_crearPublicacion %}
{% url 'usuarios-list' as url_lista_usuarios %}
{% url 'publicaciones-list' as url_lista_publicaciones %}
{% url 'eventos-list' as url_lista_eventos %}

{% load static %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white mb-3">
    <a class="navbar-brand" href="{{url_inicio}}">
      <img src="{% static 'images/logo.png' %}" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url_lista_usuarios}}"><i class="fas fa-users"></i></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{url_lista_eventos}}"><i class="fas fa-calendar-alt"></i></a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{{url_inicio}}" method="GET">
        <input name="busqueda" id="busqueda" value="{{busqueda}}" class="form-control mr-sm-2 bg-grisesito" type="search" placeholder="&#xF002;  Buscar" aria-label="Search" style="font-family:Arial, FontAwesome"/>
      </form>
        <!-- <button onclick="navegar_registro()" class="btn btn-secondary my-2 my-sm-0" id="registro-button" type="button">Registro</button>
        <script>
          function navegar_registro(){
            window.location.href = "{% url 'registro' %}"; 
          }
        </script> -->
      <a class="btn btn-dark" href="{{url_crearPublicacion}}" >Nueva publicación</a>
      <button class="ml-2 mr-1 btn btn-outline-dark my-2 my-sm-0 form-inline" type="button" onclick="window.location.href='{% url 'action_logout'%}'"><i class="fas fa-sign-out-alt"></i></button>
    </div>
  </nav>