{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock head %}
    

{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/publicacion_crear.css' %}">
<form action="{% url 'crear-publicacion' %}" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <div class="text-center py-2">
        <h1>¿Has encontrado un graffiti nuevo?</h1>
        <hr width="70%">
        <h4>¡Enséñanoslo!</h4>
    </div>
    <div class="container contenedor-principal text-dark">
        <div class="row">
          <div class="col-12 col-md-5 informacion">
            <!-- Informacion sobre la foto -->
            <div class="campo-form">
                <label for="titulo">Título</label> <br>
                <input type="text" name="titulo" id="titulo" maxlength="100">
            </div>
            <div class="campo-form">
                <label for="descripcion">Descripción</label><br>
                <textarea maxlength="500" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder=" " type="textarea" name="descripcion" id="descripcion"  cols="40" required></textarea>
            </div>
            <div class="campo-form">
                <label for="tematica">Temática (separar cada temática con #)</label> <br>
                <input type="text" name="tematica" id="tematica">
            </div>
            <div class="campo-form">
                <label for="localizacion">Localización</label> <br>
                <small>Utiliza el mapa para obtener las coordenadas o introducelas manualmente</small><br>
                <small>(ej.: 36.7213028,-4.4216366)</small>
                <input maxlength="50" type="text" name="localizacion" id="localizacion" required pattern="^(-?\d+(\.\d+)?),\s*(-?\d+(\.\d+)?)$">
                <div id="mapid" class="mt-2" style="height: 150px;"></div>
            </div>
            <div class="campo-form">
                <label for="autor">Autor</label> <br>
                <input maxlength="50" type="text" name="autor" id="autor">
            </div>
            <div class="campo-form">
                <label for="Estado conservacion">Estado de conservación</label> <br>
                <select name="estado" class="form-control" id="estado"> Estado
                    <option selected value="Perfecto">Perfecto</option>
                    <option value="Ok">Ok</option>
                    <option value="Regular">Regular</option>
                    <option value="Mal">Mal</option>
                    <option value="Pisado">Pisado</option>       
            </select>            </div>
            <div class="campo-form">
                <label for="fecha_captura">Fecha de captura</label> <br>
                <input type="date" name="fecha_captura" id="fecha_captura">
            </div>
          </div>
          <div class="col-12 col-md-7 info-imagen">
            <div class="row muestra-imagen  Absolute-Center p-0 ">
                <div class="zindex1 position-absolute">¡Sube tu imagen!</div>
                <img id="imagen-mostrar"  class="zindex2 imagen-subir" src="#" hidden/>            </div>
            <div class="row boton-imagen ">
                <input id="subir-archivo" type='file' onchange="readURL(this);" name="imagen" hidden  required/>
                  <button onclick="clicar_input()" type="button" class="pulse"  >Elige una foto</button>
                </div>
            </div>
            <div class="boton-enviar">
                <button  type="submit" class="pulse"  >Subir</button>
          </div>
        
        </div>
      </div>
</form>
<script>
   
    function clicar_input(){
        $("#subir-archivo").click();
        $(this).blur();
    }
    function resize (){
        
        $(this).height(0).height(this.scrollHeight);
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
      
          reader.onload = function (e) {
            $('#imagen-mostrar')
            .attr('src', e.target.result)
            .removeAttr('hidden');
            
          };
      
          reader.readAsDataURL(input.files[0]);
        }
      }
    window.onload=function (){
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //Enero es 0
        var yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd
            } 
            if(mm<10){
                mm='0'+mm
            } 

        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("fecha_captura").setAttribute("max", today);
    }

    var positionLon = -4.4216366;
    var positionLat = 36.7213028;
    var mymap;
    var marker;
    var inputLoc = document.getElementById('localizacion');

    if(navigator.geolocation){
    navigator.geolocation.getCurrentPosition(function showPosition(position){
        positionLat = position.coords.latitude;
        positionLon = position.coords.longitude;
        ponerMapa();
    }, function(objPositionError)
    {
        ponerMapa();
    }, {
        maximumAge: 75000,
        timeout: 15000
    });
    } else {
        ponerMapa();
    }

    function ponerMapa(){
        console.log(positionLat);
        console.log(positionLon);
        mymap = L.map('mapid').setView([positionLat, positionLon], 13);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 20,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoianVsaWFyb2JsZXMiLCJhIjoiY2trNG8xcWs5MTU1MjMycW9vNHQydjZ3MiJ9.tn9yzxwspPqdNymmZMqPfA'
        }).addTo(mymap);
        mymap.on('click', function(e) {
            if(marker){
                mymap.removeLayer(marker);
            } 
            console.log(e.latlng);
            marker = L.marker(e.latlng).addTo(mymap);
            inputLoc.value = e.latlng.lat + "," + e.latlng.lng;
        });
    }


</script>
{% endblock body %}
    