{% extends 'base.html' %}
{% block title %}{{publicacion.titulo}}{% endblock %}
{% load range %}
{% load lookup %}

{% block head %}
    <meta property="og:url"                content="https://graffitisweb-c4.herokuapp.com{{ request.path }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{ publicacion.titulo }}" />
    <meta property="og:description"        content="{{ publicacion.descripcion }}" />
    {% with primerGraffiti=publicacion.listaGraffitis|lookup:0 %}
    <meta property="og:image"              content="{{ primerGraffiti.imagen }}" />
    {% endwith %}
    <!-- Mapas -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
{% load appname_tags %}
{% include "eventos_panel.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/publicacionDetalles.css' %}">
<script src="{% static 'js/pararCarousel.js' %}"></script>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-11 col-md-8 bg-white rounded pb-4">
                <div id="carousel" class="carousel slide border rounded p-0 m-md-4 my-3" data-ride="carousel">
                    {% with len=publicacion.listaGraffitis|length %}
                    {% if len > 1 %}
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to=0 class="active"></li>
                        {% for value in 1|range:len %}
                            <li data-target="#carousel" data-slide-to={{value}}></li>
                        {% endfor %}
                    </ol>
                    {% endif %}
                    <div class="carousel-inner fondoFoto">
                        {% for graffiti in publicacion.listaGraffitis %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 col-12 mx-0 px-0">
                                            <a href="#" class="pop">
                                                <img class="d-block altura cover w-100 rounded-left" src="{{graffiti.imagen}}">
                                            </a>
                                        </div>
                                        <div class="col-md-4 col-12 mx-0 px-0">
                                            <a class="sinDecoracion" href="{% url 'usuarios-detail' graffiti.autor.id %}">
                                                <div class="h6 mt-3 px-3 d-flex align-items-center">
                                                    <img class="rounded-circle icon" src={{graffiti.autor.imagen}} onerror="this.src='{% static 'images/iconHuevo.png' %}';"/>
                                                    &nbsp;&nbsp;@{{graffiti.autor.usuario}}
                                                </div>
                                            </a>
                                            <hr/>
                                            <div class="px-3">
                                                <p class="h6">Fecha de captura:</p>
                                                <p>{{graffiti.fechaCaptura}}</p>
                                                <p class="h6">Estado de conservación:</p>
                                                <p>{{graffiti.estado}}</p>
                                                {% if graffiti.autor.id == request.session.usuario or request.session.admin %}
                                                <p>
                                                    <!-- De momento no editamos las contribuciones -->
                                                    {% if request.session.usuario == graffiti.autor.id or request.session.admin %}
                                                    <a href="{% url 'editar-graffiti' publicacion.id graffiti.id %}" class=""><i class="far fa-edit"></i> Editar</a></br>
                                                    {%endif%}
                                                    <!-- <a href="#" class=""><i class="far fa-edit"></i> Editar</a></br> -->
                                                    {% if graffiti is not publicacion.listaGraffitis|lookup:0 %}
                                                        <a href="{% url 'graffiti-delete' publicacion.id graffiti.id %}" class="text-danger"><i class="far fa-trash-alt"></i> Eliminar</a>
                                                    {% endif %}
                                                </p>
                                                {%endif%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if len > 1 %}
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="container ml-md-2 m mx-0">
                    <div class="row w-100">
                        <div class="col-md-8 col-12">
                            <p class="h3 wrapLinea">{{publicacion.titulo}}</p>
                            <h6>Publicado por: 
                                <a class="sinDecoracion" href="{% url 'usuarios-detail' creador.id %}">
                                @{{creador.usuario}}
                                </a>
                            </h6>
                            <h6 class="wrapLinea">Autor: {{publicacion.autor}}</h6>
                            <p class="w-100">{{publicacion.descripcion}}</p>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="h2 d-flex justify-content-end align-items-center">
                                <a id="buttonComment" onclick="focusComentario()" href="javascript:void(0);" class="sinDecoracion mr-2" ><i class="far fa-comment"></i>&nbsp;{{lenComentarios}}</a>
                                &nbsp;
                                <a href="{% url 'publicacion-like' publicacion.id %}" class="sinDecoracion">
                                    {% if request.session.usuario in publicacion.meGusta %}
                                        <i class="fas fa-heart text-danger mr-0"></i>
                                    {% else %}
                                        <i class="far fa-heart mr-0"></i>
                                    {% endif %}
                                    {{meGusta}}
                                </a>
                            </div>
                            <p class="d-flex justify-content-end align-items-center wrapHT">
                                {% for tem in publicacion.tematica %}
                                    <span class="badge badge-pill badge-info">#{{tem}}</span>&nbsp;
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    {% if request.session.usuario == creador.id or request.session.admin %}
                        <a href="{% url 'editar-publicacion' publicacion.id primerGraffiti.id %}" class=""><i class="far fa-edit"></i> Editar</a></br>
                        <a href="{% url 'publicacion-delete' publicacion.id %}" class="text-danger"><i class="far fa-trash-alt"></i> Eliminar</a>
                    {%endif%}
                    <div id="map" class="my-3 mr-md-4 mr-1 rounded" style="height: 130px;"></div> 
                    <hr class="mr-md-4 mr-1">  
                    <div class="container">
                        <div class="row justify-content-center">
                            <p >¿Tienes alguna imagen de este graffiti? ¡Compartela!</p>
                        </div>
                        <div class="row justify-content-center">
                            <a href="{% url 'graffiti-form' publicacion.id %}" class="btn text-white d-flex align-items-center" style="background-color: #e95f28; border-color: #e95f28;"><i class="fas fa-plus-circle"></i>&nbsp;A&ntilde;adir contribuci&oacute;n</a>
                        </div>
                    </div>
                    <hr class="mr-md-4 mr-1">        
                    <h4 class="mt-4">Comentarios &bull; {{lenComentarios}}</h4>
                    <form method="POST" action="{% url 'crear-comentario' publicacion.id %}">
                        <div class="form-group mt-3 mr-md-4 mr-1">
                            {% csrf_token %}
                            <textarea class="form-control" name="texto" id="texto" rows=3 placeholder="Añade un comentario..."></textarea>
                            <div class="d-flex justify-content-end">
                                <button class="submit btn btn-dark mt-2 btn-sm">Comentar</button>
                            </div>
                            
                        </div>
                    </form> 
                    {% for comentario in publicacion.listaComentarios %}
                        {% if comentario.autor.id == usuarioLogeado or request.session.admin  %}
                        <a href="{% url 'delete-comentario' publicacion.id comentario|mongo_id %}" class="text-danger" style="float:right;" data-toggle="tooltip" data-placement="top" title="Borrar comentario" >
                            <i class="far fa-trash-alt squared icon"></i>
                        </a> 
                        {% endif %}  
                        <div class="h6 mt-3 d-flex align-items-center">
                            <img class="rounded-circle icon" src={{comentario.autor.imagen}} onerror="this.src='{% static 'images/iconHuevo.png' %}';"/>
                            <div class="ml-2 mr-4">{{comentario.autor.nombre}} - 
                                <a class="sinDecoracion" href="{% url 'usuarios-detail' comentario.autor.id %}">
                                    @{{comentario.autor.usuario}}
                                </a>
                                <br/><aaa class="text-muted">{{comentario.texto}}</aaa>
                            </div>                             
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'boton_compartir.html' %}

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" data-dismiss="modal" role="document">
            <div class="modal-content">              
                <div class="modal-body mb-0 p-0">
                    <img src="" class="imagepreview" style="width: 100%;" >
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(function() {
            $('.pop').on('click', function() {
                $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                $('#imagemodal').modal('show');   
            });		
        });
    </script>
    <script src="{% static 'js/focusComment.js' %}"></script>
    <script>
        var publ = JSON.parse("{{ publicacion|safe }}".replace(/'/g, '"').replace(/"admin": False/g,'"admin": false').replace(/"admin": True/g,'"admin": true'));
        try {
            var coordenadas = publ.localizacion.split(',');
            var mymap = L.map('map').setView([coordenadas[0], coordenadas[1]], 15);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoianVsaWFyb2JsZXMiLCJhIjoiY2trNG8xcWs5MTU1MjMycW9vNHQydjZ3MiJ9.tn9yzxwspPqdNymmZMqPfA'
            }).addTo(mymap);
            var marker = L.marker([coordenadas[0], coordenadas[1]]).addTo(mymap);
        } catch (error) {
            console.error(error);
            var mapa = document.getElementById("map").style.display = "none";
        }
    </script>

{% endblock %}