{% extends 'base.html' %}


{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/publicacion_crear.css' %}">
<form action="">
    <div class="text-center py-2">
        <h1>¿Has encontrado un graffiti nuevo?</h1>
        <hr width="70%">
        <h4>¡Enséñanoslo!</h4>
    </div>
    <div class="container contenedor-principal text-dark">
        <div class="row">
          <div class="col-12 col-md-5 informacion">
            <!-- Informacion sobre la foto -->
            <div class="campo-form">
                <label for="titulo">Título</label> <br>
                <input type="text" name="titulo" id="titulo">
            </div>
            <div class="campo-form">
                <label for="descripcion">Descripción</label><br>
                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder=" " type="textarea" name="descripcion" id="descripcion"  cols="40"></textarea>
            </div>
            <div class="campo-form">
                <label for="tematica">Temática</label> <br>
                <input type="text" name="tematica" id="tematica">
            </div>
            <div class="campo-form">
                <label for="autor">Autor</label> <br>
                <input type="text" name="autor" id="autor">
            </div>
            <div class="campo-form">
                <label for="Estado conservacion">Estado de conservación</label> <br>
                <input type="text" name="Estado conservacion" id="Estado conservacion">
            </div>
            <div class="campo-form">
                <label for="fecha_captura">Fecha de captura</label> <br>
                <input type="text" name="fecha_captura" id="fecha_captura">
            </div>
          </div>
          <div class="col-12 col-md-7 info-imagen">
            <div class="row muestra-imagen  Absolute-Center p-0 ">
                <div class="zindex1 position-absolute">¡Sube tu imagen!</div>
                <img id="imagen-mostrar"  class="zindex2 imagen-subir" src="#" hidden/>            </div>
            <div class="row boton-imagen ">
                <input id="subir-archivo" type='file' onchange="readURL(this);" hidden />
                  <button onclick="clicar_input()" type="button" class="pulse"  >Elige una foto</button>
                </div>
            </div>
            <div class="boton-enviar">
                <button  type="submit" class="pulse"  >Enviar</button>
          </div>
        
        </div>
      </div>
</form>
<script>
   
    function clicar_input(){
        $("#subir-archivo").click();
        $(this).blur();
    }
    function resize (){
        
        $(this).height(0).height(this.scrollHeight);
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
      
          reader.onload = function (e) {
            $('#imagen-mostrar')
            .attr('src', e.target.result)
            .removeAttr('hidden');
            
          };
      
          reader.readAsDataURL(input.files[0]);
        }
      }
</script>
{% endblock body %}
    