{% extends 'base.html' %}
{% load appname_tags %}

{% block title %}
Tiempo en Málaga
{% endblock title %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tiempo.css' %}">
<div class="container">
        <div class="row justify-content-center">
            <h1 class="display-4"> Tiempo en Málaga </h1>
        </div>
        <div class="row">
            <div class="col card">
                <span class="icon"><img class="img-fluid" src="https://img.icons8.com/emoji/96/000000/sun-emoji.png" /></span>
                <div class="container">
                    <div class="row title justify-content-center">
                        <p class="text-center">{{fecha_hoy}}</p>
                    </div>
                    <div class="row temp justify-content-center">
                        4º
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="header">Resumen</div>
                                <div class="value">Sunny</div>
                            </div>
                            <div class="col-4">
                                <div class="header">Viento(km/h)</div>
                                <div class="value">{{viento_hoy}}</div>
                            </div>
                            <div class="col-4">
                                <div class="header">Veredicto</div>
                                <div class="value">No</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col card">
                <span class="icon"><img class="img-fluid" src="https://img.icons8.com/emoji/96/000000/sun-emoji.png" /></span>
                <div class="container">
                    <div class="row title justify-content-center">
                        <p class="text-center">{{fecha_mañana}}</p>
                    </div>
                    <div class="row temp justify-content-center">
                        4º
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="header">Resumen</div>
                                <div class="value">Sunny</div>
                            </div>
                            <div class="col-4">
                                <div class="header">Viento(km/h)</div>
                                <div class="value">{{viento_mañana}}</div>
                            </div>
                            <div class="col-4">
                                <div class="header">Veredicto</div>
                                <div class="value">Buen día</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
        <div class="col-5 card">
                <span class="icon"><img class="img-fluid" src="https://img.icons8.com/emoji/96/000000/sun-emoji.png" /></span>
                <div class="container">
                    <div class="row title justify-content-center">
                        <p class="text-center">{{fecha_pasado}}</p>
                    </div>
                    <div class="row temp justify-content-center">
                        4º
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="header">Resumen</div>
                                <div class="value">Sunny</div>
                            </div>
                            <div class="col-4">
                                <div class="header">Viento(km/h)</div>
                                <div class="value">{{viento_pasado}}</div>
                            </div>
                            <div class="col-4">
                                <div class="header">Veredicto</div>
                                <div class="value">No</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

<!-- Iconos

  -- https://img.icons8.com/emoji/96/000000/sun-emoji.png sol
  -- https://img.icons8.com/office/80/000000/partly-cloudy-day.png parc. nublado
  -- https://img.icons8.com/officel/80/000000/rain.png lluvia

-->