{% extends 'base.html' %}
{% block title %}Detalles Usuario{% endblock %}
{% load range %}
{% load lookup %}

{% block head %}
    <meta property="og:url"                content="{{ request.get_full_path }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{ usuario.nombre }}" />
    <meta property="og:description"        content="{{ usuario.descripcion }}" />
    <meta property="og:image"              content="{{  usuario.imagen  }}" />
{% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/usuarioDetalles.css' %}">
<script src="{% static 'js/pararCarousel.js' %}"></script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-8 bg-white rounded pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <img class="rounded-circle icon" src={{usuario.imagen}}
                        onerror="this.src='{% static 'images/iconHuevo.png' %}';" style="height: 12rem; width: 12rem;" />
                    </div>
                    <div class="col-12 col-md-6 mt-3 mt-md-0">
                        <h1 class="h3">{{usuario.nombre}}</h1>
                        <h1 class="h5">@{{usuario.usuario}}</h1>
                        <h6><strong>{{usuario.listaSeguidores|length}}</strong> seguidores  <strong>{{usuario.listaSeguidos|length}}</strong> seguidos</h6>
                        
                        <form action="{% url 'usuario-edit' usuario.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p id="descripcionusuario" class="descripcion">{{usuario.descripcion}}
                                {% if request.session.usuario == usuario.id or request.session.admin == True %}
                            </br><a href="#" onclick="editarDescripcion()" class="mt-3 pt-3"><i class="far fa-edit"></i> Editar descripcion</a></br>

                                {% endif %}
                            </p>
                        </form>

                        <div class="d-flex justify-content-center">
                            {% if not request.session.usuario == usuario.id %}
                            <a href="{% url 'usuario-follow' usuario.id %}" class="btn btn-sm btn-outline-dark mr-3">
                                {% if request.session.usuario in usuario.listaSeguidores%}
                                Dejar de seguir
                                {% else %}
                                Seguir
                                {% endif %}
                            </a>

                            <!-- <a href="#" class="btn btn-sm btn-outline-dark">Enviar mensaje</a> -->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div> 
            <br/>
            <div class="m-3">
                <hr/>
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item pill-color">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Publicaciones</a>
                    </li>
                    <li class="nav-item pill-color">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Contribuciones</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="container">
                            <div class="row justify-content-center">
                                {% for p in listaPublicaciones %}
                                <a href="{% url 'publicacion-detail' p.id %}" class="sinDecoracion">
                                    <div class="col-12 col-md-4 p-0 face">
                                        {% with primerGraffiti=p.listaGraffitis|lookup:0 %}
                                        <img class="d-block altura anchura cover" src="{{primerGraffiti.imagen}}">
                                        {% endwith %}
                                        <div class="content">
                                            <h5 class="p-2 wrapLinea">{{p.titulo}}</h5>
                                        </div>
                                        <div class="overlay">
                                            <div class="text">
                                                {% with lc=p.listaComentarios|length %}
                                                <i class="far fa-comment"></i>&nbsp;{{lc}}
                                                {% endwith %}
                                                &nbsp;
                                                &nbsp;
                                                {% with mg=p.meGusta|length %}
                                                <i class="far fa-heart"></i>&nbsp;{{mg}}
                                                {% endwith %}
                                            </div>
                                            <div class="fondo"></div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="container">
                            <div class="row justify-content-center">
                                {% for p in listaActualizaciones %}
                                    {% if p.id in usuario.listaPublicaciones %}
                                    {% else %}
                                    <a href="{% url 'publicacion-detail' p.id %}" class="sinDecoracion">
                                    <div class="col-12 col-md-4 p-0 face">
                                        {% with primerGraffiti=p.listaGraffitis|lookup:0 %}
                                        <img class="d-block altura anchura cover" src="{{primerGraffiti.imagen}}">
                                        {% endwith %}
                                        <div class="content">
                                            <h5 class="p-2 wrapLinea">{{p.titulo}}</h5>
                                        </div>
                                        <div class="overlay">
                                            <div class="text">
                                                {% with lc=p.listaComentarios|length %}
                                                <i class="far fa-comment"></i>&nbsp;{{lc}}
                                                {% endwith %}
                                                &nbsp;
                                                &nbsp;
                                                {% with mg=p.meGusta|length %}
                                                <i class="far fa-heart"></i>&nbsp;{{mg}}
                                                {% endwith %}
                                            </div>
                                            <div class="fondo"></div>
                                        </div>
                                    </div>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div> 
    </div> 
</div>
<script>
    function editarDescripcion(){
        var text = '<textarea cols="50" rows="10" name="descripcion" id="descripcion" style="resize: none">{{usuario.descripcion}}</textarea></br><button type="submit" class="btn btn-primary">Guardar</button>'
        $('#descripcionusuario').html(text);
    }
</script>
{% include 'boton_compartir.html' %}
{% endblock %}