.boton-compartir{
    background-color: rgb(184, 111, 111);
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right :20px;
    background-image: url("/../static/images/share-solid.svg");
    background-size: 15px;
    background-repeat: no-repeat ;
    background-position: center;
    /* transition: background-image 0.5s ; */
    z-index: 2;
    
}

.boton-compartir:focus{
    outline: none;
}
.compartir-twitter:focus{
    outline: none;
}
.compartir-insta:focus{
    outline: none;
}

@keyframes cambiar{
    0% {
        background-image:url("/../static/images/share-solid.svg");
        background-size: 15px;
    }
    50%{
        background-size: 0px;
        
    }
    
    100%{
        background-image: url("/../static/images/times-solid.svg");
        background-size: 15px;
    }
}


.animar_compartir1{
    animation-name: cambiar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: normal;
}
.animar_compartir2{
    animation-name: cambiar;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.compartir-twitter{
    position:fixed;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    bottom: 20px;
    right :20px;
    width: 50px;
    height: 50px;
    background-color: #1DA1F2;
    z-index: 1;
    background-size: 15px;
    background-repeat: no-repeat ;
    background-position: center;
    color: white;
    opacity: 0;
    
}

.compartir-facebook{
    position:fixed;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    bottom: 20px;
    right :20px;
    width: 50px;
    height: 50px;
    background-color: #3b5998;
    z-index: 1;
    background-size: 15px;
    background-repeat: no-repeat ;
    background-position: center;
    color: white;
    opacity: 0;
    
}

.compartir-pinterest{
    position:fixed;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    bottom: 20px;
    right :20px;
    width: 50px;
    height: 50px;
    background-color:#c8232c;
    z-index: 1;
    background-size: 15px;
    background-repeat: no-repeat ;
    background-position: center;
    color: white;
    opacity: 0;
    
}

.compartir-insta{
    
    opacity: 0;
    background-size: 15px;
    background-repeat: no-repeat ;
    background-position: center;
    position:fixed;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    bottom: 20px;
    right :20px;
    width: 50px;
    height: 50px;
    z-index: 0;
    color:white;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
button:hover{
    opacity:0.9;
}