.altura {
    height:20rem;
}

/* .carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
} 
*/
@media(min-width:992px){
    .carousel-control-next {
        filter: invert(100%);
    } 
}

.fondoFoto {
    background-color: #ffffff;
}

.icon {
    height:2rem;
    width:2rem;
}