.bg-grisesito {background-color: #eeeeee;}
.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;}
.backgroundCover {background-size: cover;}
.wrapLinea {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.sinDecoracion {
    text-decoration: none;
    color: black;
}


.sinDecoracion:hover {
    text-decoration: none;
    color: black;
}

.wrapHT {
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: end;
    word-break: break-all;
}