.bg-grisesito {background-color: #eeeeee;}
.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;}
.backgroundCover {background-size: cover;}