.altura {
    height:20rem;
}

.icon {
    height:2rem;
    width:2rem;
}

.wrapPalabras {
    display: block;
    display: -webkit-box;
    max-width: 100%;

    min-height: 58px;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow: ellipsis;
}

@media(min-width:992px){
    .abajo {
        position: absolute;
        bottom: 0;
        right: 20px;
    }
}