body, html {
    height: 100%;
    margin: 0px;
}

.fotobg {
    margin: 0px;
    width: 100%;
    height: 100%;
    /* The image used */
    background-image: url("../images/fondo.jpg");
    
    /* Control the height of the image */
    min-height: 640px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contenedor {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.contain {object-fit: contain;}

.colorBoton {
  background-color: #e95f28;
  border-color: #e95f28;
}

.colorBoton:hover {
  background-color: #d45726;
  border-color:#d45726;
}
