{% extends 'base.html' %}
{% block title %}Detalles Publicacion{% endblock %}

{%block body %}
    <h1>Im&aacute;genes</h1>
    {% for graffiti in publicacion.listaGraffitis %}
        <ul>
            <li>Autor: {{graffiti.autor.id}}</li>
            <li>Estado: {{graffiti.estado}}</li>
            <li>Fecha de Captura: {{graffiti.fechaCaptura}}</li>
            <li><img src="{{graffiti.imagen}}"></li>
        </ul>
    {% endfor %}
    <h1>Detalles de la Publicaci&oacute;n</h1>
    <ul>
        <li>{{publicacion.titulo}}</li>
        <li>{{publicacion.descripcion}}</li>
        <li>{{publicacion.localizacion}}</li>
        <li>{{publicacion.autor}}</li>
        <li>Creador: {{publicacion.creador.id}}</li>
        <li>{{meGusta}} Me Gusta</li>
    </ul>
    <h1>Comentarios</h1>
    {% for comentario in publicacion.listaComentarios %}
        <ul>
            <li>{{comentario.autor.id}}</li>
            <li>{{comentario.texto}}</li>
        </ul>
    {% endfor %}
    <a href="{% url 'publicaciones-list' %}">Volver</a>
{% endblock %}